PRISMIC_REPOSITORY=myrepo
PRISMIC_TOKEN=Secret_from_https://myrepo.prismic.io/settings/apps/
PRISMIC_WEBHOOK_SECRET=Secret_from_https://myrepo.prismic.io/settings/apps/
PRISMIC_CUSTOM_TYPES_API_TOKEN=Secret_https://myrepo.from_prismic.io/settings/apps/

IFTTT_WEBHOOK_KEY=Secret_from_IFTTT_account
IFTTT_WEBHOOK_EVENT=myTitleEvent
