@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.share-social-network > svg {
  width: 30px;
  height: auto;
}

.link-external > .LowerContainer {
  height: 200px;
  overflow: hidden;
}


pre {
  color: initial!important;
  background: initial!important;
  padding: 0!important;
}


/* imgage card */
.hover-image-card:hover img, .hover-image-card:hover source {
  @apply transition-all;
  filter: brightness(0.8);

}
