---
import "@fontsource/inter/500.css"
import "@fontsource/inter/400.css"
import { Navbar } from "./../../feacture/navbar/index"
import { buttonDefault } from "./../../style/button"
import { GitHubLogoIcon } from "@radix-ui/react-icons";
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprende a Programar</title>
</head>
<body>
    <Navbar />
    <div class="w-full max-w-3xl px-4 mx-auto pb-10">
        <header>
            <h1 class="text-5xl md:text-6xl lg:text-7xl font-bold text-center">Aprende a programar en JavaScript</h1>
            <p class="w-full md:w-3/4 mx-auto text-neutral-700 text-center my-6">Obtiene conocimiento de forma gratuita e interactiva para potenciar tu nivel como desarrollador.</p>
            <div class="pb-4 mx-auto w-fit">
                <a href="#" class={buttonDefault}>
                    <GitHubLogoIcon />
                    <span class="ml-2">Continua tu Aprendisaje</span>
                </a>
            </div>
            <div class="aspect-video w-full rounded-xl shadow">
                <iframe
                    class="w-full h-full rounded-xl border-none"
                    src="https://www.youtube.com/embed/ZsEBMwH5UJs?controls=0"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                >
                </iframe>
            </div>
        </header>
    </div>
</body>
</html>
