<a href="/course/id" class="group relative">
    <div class="group-hover:scale-105  transition-all ">
        <div class="aspect-video bg-white rounded-md">
            <img src="https://static-media.hotmart.com/3FftM3av-3SPFhsvj1Y3GPBRQI0=/fit-in/1280x720/filters:upscale()/hotmart-template-files-production/membership_product/67bee6841b4eff313cb40497:5154546/ae2dcab9-a2f8-4ab6-a7c3-9994bdb01f29" alt="" class="rounded-md">
        </div>
        <h3 class="line-clamp-2 mt-2 text-base">Nombre del curso a ver o cursar es largo pero efectivo, Nombre del curso a ver o cursar es largo pero efectivo</h3>
    </div>
</a>