---
import "@fontsource/inter/500.css"
import "@fontsource/inter/400.css"
import { Navbar } from "../../feacture/navbar";
import { LessonPage } from "../../feacture/pages/lesson.page"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Navbar />
    <LessonPage client:load />
</body>
</html>