---
const today = new Date();
---

<footer>
	<div class="max-w-5xl mx-auto px-4 py-8">
		<div class="text-center">
			<h5>Fernando Ticona @fvcoder</h5>
			<p class="text-sm">Creado con el ♥️ y Astro</p>
			<span class="text-xs text-neutral-500">(y con un poquito de IA 🧑‍💻)</span>
		</div>

	</div>
</footer>