<div class="bg-black aspect-video rounded-lg relative">
    <div class="absolute inset-0 p-4 flex flex-col justify-center items-center">
        <h2 class="text-white text-3xl mb-4">Esta clase estará disponible en pronto</h2>
    </div>
</div>