---
import { Button } from "@heroui/react";
---

<div class="bg-black aspect-video rounded-lg relative">
    <img src="https://cdn.pixabay.com/photo/2022/10/11/16/43/french-bulldog-7514725_960_720.jpg" alt="cover" class="size-full object-cover rounded-lg blur opacity-80 grayscale">
    <div class="absolute inset-0 p-4 flex flex-col justify-center items-center">
        <h2 class="text-white text-3xl mb-4">Aun no tienes acceso a esta clase</h2>
        <div>
            <Button color="primary">Inscribirse</Button>
        </div>
    </div>
</div>