.form-control {
  @apply mb-6;
}

.form-label {
  @apply mb-1;
  @apply leading-6;
  @apply text-sm;
}

.form-input {
  @apply py-1.5;
  @apply px-3.5;
  @apply bg-win-150;
  @apply rounded-tl;
  @apply rounded-l-sm;
  @apply rounded-r-sm;
  @apply border-b-2;
  @apply border-win-150;
  @apply focus:border-primary-500;
  @apply focus:outline-none;
}

.form-error {
  display: flex;
  align-items: center;
  @apply text-red-500;
  .icon-error > svg {
    width: .857rem;
    height: .857rem;
    @apply fill-current;
    @apply text-red-500;
  }
}
