@import 'button';
@import 'form';

.icon-big > svg {
	width: 3.5rem;
	height: 3.5rem;
	fill: #333333;
}

.icon-error > svg {
	width: .857rem;
	height: .857rem;
	@apply fill-current;
  @apply text-red-500;
}
