---
import "@fontsource/inter/700.css"
import "@fontsource/inter/500.css"
import "@fontsource/inter/400.css"
import { HomePage } from "../feacture/pages/home.page"
import { Navbar } from "../feacture/navbar";
import { SEO } from "astro-seo";

export const prerender = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="viewport" content="width=device-width" />
		<SEO
			title="Fernando Ticona | Full-Stack Dev Junior"
			description="¡Bienvenido a mi perfil! Soy Fernando Ticona, un Full-Stack Dev Junior apasionado por el desarrollo web. Explora mi experiencia, habilidades y proyectos destacados en fvcoder.com. ¡Contáctame para oportunidades emocionantes en el mundo del desarrollo frontend y backend!"
			canonical="https://fvcoder.com"
			charset="utf-8"
			openGraph={{
				basic: {
					title: "Fernando Ticona | Full-Stack Dev Junior",
					type: "website",
					image: "https://fvcoder.com/hi.png",
					url: "https://fvcoder.com",
				}
			}}
			twitter={{
				card: "summary_large_image",
				image: "https://fvcoder.com/hi.png",
				creator: "@fvcoder1",
				title: "Fernando Ticona | Full-Stack Dev Junior",
				description: "¡Bienvenido a mi perfil! Soy Fernando Ticona, un Full-Stack Dev Junior apasionado por el desarrollo web. Explora mi experiencia, habilidades y proyectos destacados en fvcoder.com. ¡Contáctame para oportunidades emocionantes en el mundo del desarrollo frontend y backend!",
				imageAlt: "Fernando Ticona | Full-Stack Dev Junior",
			}}
		/>
	</head>
	<body class="bg-slate-50">
		<Navbar client:load />
		<HomePage client:load  />
	</body>
</html>
 