<div id="icon-app"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/index.js"></script>
<style>
    .icon--galery{
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        gap: 1rem;
    }
    .icon--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icon--item > p {
        min-width: 0;
        flex: 1 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: Ellipsis;
    }
</style>